README.md
serverless.yml
Dockerfile

# Node modules should not be included in the Docker build context
node_modules

# Log files
*.log

# Environment files
.env

# OS-specific files
.DS_Store
Thumbs.db

# Git directory and files
.git
.gitignore

# Docker-related files
Dockerfile
docker-compose.yml
.serverless
.dockerignore

# Exclude Terraform files and directories
terraform/
*.tf
*.tfstate
*.tfstate.*
*.tfplan

